<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/manifest.json" />
  
  <!-- Theme -->
  <meta name="theme-color" content="#000000" />
  
  <!-- SEO Meta Tags -->
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="/logo_full.png" />
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="<%= title %>" />
  <meta property="twitter:description" content="<%= description %>" />
  <meta property="twitter:image" content="/logo_full.png" />
  <meta name="robots" content="index, follow" />
</head>

<body style="background-color: var(--background); color: var(--foreground);">
  <div id="app"></div>
  <script type="module" src="/src/main.tsx"></script>
</body>

</html>
